section > article {
  color:#626262;	
}

section article .basic-page {
  padding:15px;	
}

section > article > .basic-page > .img-responsive,
section > article .img-responsive {
  width:100%;	
}

section > article > .basic-page > h2 {
  margin:10px 0 5px 0;
  font-size:140%;
  font-weight:600;	
}

section > article > .basic-page > p {
	margin:5px 0;
}

.strong {
  font-weight:bold;	
}

/** PRODUCTS PAGE **/

#products footer nav .icon {
  height: 32px;
  margin-top: 8px;
}

#products footer nav .first .icon {
  background:transparent url("../assets/images/chex-logo-grey.png");
}

#products footer nav .first.active .icon {
  background:transparent url("../assets/images/chex-logo-white.png");
}

#products footer nav .second .icon {
  background:transparent url("../assets/images/frankenman-logo-grey.png");
}

#products footer nav .second.active .icon {
  background:transparent url("../assets/images/frankenman-logo-white.png");
}

.submit{
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 90%;
  background: #444;
  color: #fff;
}

.messages {
  padding:10px;
  font-style:italic;  
}

ul.nav {
  padding: 20px 0;
}

.list li.arrow {
  padding-right: 20px;
}